/*  your css code here. If applicable */
body{
	background-color:#f8f8f8;
}
.page{
	display:flex;
	flex-direction:column;
	margin:10px 10px;
}
.page
.line{
	width: 100vh;
	background-color:white;
}
h1{
	text-align:center;
}
.price{
	text-align:center;
	background-color:#2ecc71;
}
img{
	place-items:center;
}
